    <h2 id="discussDetails_title">脊柱关节病</h2>
    <p id="discussDetails_content">
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
    </p>
    <div  class="iconContainer">
        <!--<a class="icon icon-taolun hbox contentIcon" >20</a> -->
        <a class="icon icon-zan hbox contentIcon" >20</a> 
        <a class="icon icon-shoucang hbox contentIcon" >20</a> 
        <!--<a class="icon icon-fenxiang hbox contentIcon">20</a> -->
        </div>
    <ul class="list">
        <li>
            <span class="subTitle">旺大夫</span>
            <span class="subTitle">25分钟前</span>
            <div class="thirdTitle">这种病后期并发症很多</div>
        </li>
        <li>
            <span class="subTitle">旺大夫</span>
            <span class="subTitle">25分钟前</span>
            <div class="thirdTitle">这种病后期并发症很多</div>
        </li>
        <li>
            <span class="subTitle">旺大夫</span>
            <span class="subTitle">25分钟前</span>
            <div class="thirdTitle">这种病后期并发症很多</div>
        </li>

    </ul>