<header>
    <h1>登录</h1>
</header>
<form>
    <div class="input-group">
        <input id="login_cellphone" type="text" value="p1" placeholder="手机号">
        <input id="login_password" type="password" value="111111" placeholder="密码">

        <h3 id="loginPrompt"></h3>
        <input type="hidden" value="createTopic" id="panelAfterLogin">
        <input type="button" onclick="MedicalHome.auth.login()" class="login_btn button" value="登录">
        <input type="button" class=" button" value="注册">
    </div>
</form>