<header >
    <h1>我</h1>
</header>
<ul class="list">
    <li>
        <a href="#aftransitions">
            <div >
                <img class="circleimg" src="image/sampleImg/avatar.png" style="float: left;height: 50px;"/>

                <div  style="float: left;">
                    <div class="name topicTitle subTitle" style="float: left;vertical-align: top;padding-left: 10px;">
                        李学旺
                    </div>
                    <div class="itemContent subTitle" style="float: left;padding-left: 10px;width: 150px;"> 北京协和医院</div>
                    <div class="affiliation itemContent thirdTitle" style="padding-left: 10px;">影响力(10000+)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注(10)</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#">我的二维码</a>
    </li>
    <li>
        <a href="#aftransitions">我的收藏</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#">设置</a>
    </li>
</ul>