    <h2 class='expanded' onclick='showHide(this,"AFUI_info");'>App Framework UI</h2>
    <p id='AFUI_info'>App Framework UI is the User Interface/User Experience library for mobile applications. It uses HTML5 and CSS3 for animations and transitions. We built the kitchen sink using App Framework UI. It is comprised of components from the Plugins library
        and additional features.
        <br>* Fixed navigation bar
        <br>* Auto scrolling content panels
        <br>* Optional footer to segment your application
        <br>
    </p>
    <ul class="list">
        <li>
            <a href="#aftransitions">Transitions</a>
        </li>
        <li>
            <a href="#afforms">Form Styles</a>
        </li>
        <li>
            <a href="#afgrid">Grid System</a>
        </li>
        <li>
            <a href="#uiapi">$.ui API</a>
        </li>
        <li>
            <a href="#uiinsetlist">Inset List</a>
        </li>
        <li>
            <a href="#uibuttons">Buttons</a>
        </li>
        <li>
            <a href="#uifooter">Custom Footers</a>
        </li>
        <li>
            <a href="#uiside">Side Navigation Menu</a>
        </li>
        <li>
            <a href="#uiicons">Vector Icons</a>
        </li>
        <li>
            <a href="ajax.html" data-persist-ajax="true" data-refresh-ajax="true" title="Remote Page" data-pull-scroller="true">Load External Content</a>
        </li>
        <li>
            <a href="http://www.AppFramework.com" target="_blank">Open a new page</a>
        </li>
        <li>
            <a href="#uidefer">Defer loading</a>
        </li>
    </ul>
<!--</div>-->