<header>
    <!--TODO replace the back button id-->
    <a id="backButton" class="button" style="visibility: visible;">返回</a>

    <h1 id="h1PatientCaseItem"></h1>
    <a class="button icon icon-edit"
       style="float:right;font-size: 20px;line-height: 20px;top: -2px;"
       onclick=""></a>
</header>
<ul class="list">
    <li>
        <!--<a href="#aftransitions">-->
        <div >
            <img class="circleimg" src="image/sampleImg/avatar.png" style="float: left;height: 50px;"/>

            <div  style="float: left;">
                <div class="name topicTitle subTitle" style="float: left;vertical-align: top;padding-left: 10px;">
                    赵米才
                </div>
                <div class="itemContent subTitle" style="float: left;padding-left: 10px;width: 150px;"> 男</div>
                <div class="affiliation itemContent thirdTitle" style="padding-left: 10px;">肾结石</span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <!--</a>-->
    </li>
    <li>
        钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤
        钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤
        钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤钙化性上皮瘤
    </li>
</ul>
<div id="patientCaseItemList">
</div>