@charset "utf-8";

/*reset */

html,body,div,p,span,img,em,i,cite,pre,object,code,del,hr,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,frame,iframe,fieldset,form,table,caption,tbody,thead,tfoot,tr,td,th,label,legend{margin:0;padding:0; border:0; font:12px/1.5em "微软雅黑",Tahoma;}

input,seclect,textarea{margin:0;padding:0;color:#666; font-family:Tahoma; font-size:12px}

ul,ul li,ol,ol li,dl,dl dd{ list-style:none;}

table,tr,td{ border-collapse:collapse;}

pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word;white-space : normal ;}

a:hover{ color:#333}

select,img,input{ vertical-align:middle;}

/*ClearFix */

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

*html .clearfix {height:1%;}

*+html .clearfix{height:1%;}

.clearfix{display:inline-block;}

.clearfix {display:block;}

.clear{ clear:both; overflow:hidden;_zoom:1;}



a{color:#666; text-decoration:none}

a {bblr:expression(this.onFocus=this.blur()); outline:none;}

html,body{ height:100%}

body {

	position:left:0; right:0; top:0; bottom:0;

	/*background-image: url(../images/zcr_bk.jpg);*/
	background-color:#e8f8f6;
 
}

#text_box {

	float:left;

	width:92%;

	margin:auto 4%;

}

.font16 {

	font-size:14px;

	line-height:18px;

	color:#000000;

	margin:2px 5px 2px 5px;

}

.font18 {

	font-size:18px;

	line-height:22px;

	color:#000000;

	margin:5px;

}

#ezfy_top {

	float:left;

	width:98%;

	margin:10px 1% 0px 1%;

	

	border-radius: 15px 15px 0px 0px;

	-webkit-border-radius: 15px 15px 0px 0px;

	-moz-border-radius: 15px 15px 0px 0px;

}

#playvote {

	float:left;

	width:98%;

	margin:auto 1%;

	background-color:#FFF;

}

#playlist {

	float:left;

	width:98%;

	margin:auto 1%;

	background-color:#FFF;

}

.playbox {

	float:left;

	width:44%;

	margin:10px 3% 10px 3%;

    background:#e8f8f6; 

	border-radius: 9px;

	-webkit-border-radius: 9px;

	-moz-border-radius: 9px;

}

.playbox_img{

	float:left;

	width:100%;

	border-radius: 9px 9px 0px 0px;

	-webkit-border-radius: 9px 9px 0px 0px;

	-moz-border-radius: 9px 9px 0px 0px;
	/*height: 170px;
*/
}
.playbox_img1{

	float:left;

	width:100%;

	border-radius: 9px 9px 0px 0px;

	-webkit-border-radius: 9px 9px 0px 0px;

	-moz-border-radius: 9px 9px 0px 0px;


}

#showimg_page {

	float:left;

	width:90%;

	margin:20px 5%;

	border-radius: 9px 9px 0px 0px;

	-webkit-border-radius: 9px 9px 0px 0px;

	-moz-border-radius: 9px 9px 0px 0px;

}

.playbox_txt {

	float:left;

	width:98%;

	height:50px;

	margin-bottom:5px;

}

.zcrid {

	float:left;

	width:100%;

	height:22px;

	margin-top:3px;

	line-height:22px;

	font-size:13px;

	font-weight:bold;

	text-align:center;

	color:#000;

}



.zcrnum {

	float:left;

	width:90px;

	height:20px;

	margin-top:3px;

	line-height:20px;

	font-size:14px;

	color:#000;

}

.vote_btn {

  float:left;

  width:70%;

  margin:auto 15%;

  height: 40px;

  font-size:18px;

  text-align: center;

  line-height: 40px;

  border-radius: 9px;

  background: #000;

  background: -webkit-linear-gradient(#EDEDED, #c9c9c9);

}

#PlayVideo {

	/*float:left; */

	width:100%;

	margin:auto;
	

	/*background-color:#000;*/

}

#ezfy_bottom  {

	float:left;

	width:96%;

	margin:auto 2%;

}



header{width:100%; height:45px; box-shadow:0px 1px 8px #000;}

header span{display:inline-block; height:45px; padding-left:35px;float:left; width:23%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

header .home{ background:url(../images/home_icon.png) 10px center no-repeat; background-size:auto 20px; line-height:45px; }

header .sign_up{ width:77%;line-height:45px;color:#FFF; font-size:16px;text-align:right;}

header .home a,#main header .sign_up a{color:#FFF; font-size:16px}

/*.m1{background:url(../images/m1.png)}*/
.m1{ background-color:#6699FF;}



/*分享share*/

#share_1{float:left;width:49%; display: block}

#share_2{float:right;width:49%; display: block}

#mess_share img{width:22px;height:22px;vertical-align: top;border: 0;}

.button2{

float: left;
width: 26%;
height: 45px;
font-size: 18px;
padding: 9px 0px;
color: #000;
background-color: #FFF;
border: 1px solid #D3D3D3;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
text-shadow: 0.5px 0.5px 1px #FFF;
text-align: center;
border-radius: 9px;
cursor: pointer;
display: inline;
margin: 12px 12%;

background: -webkit-linear-gradient(#EDEDED, #c9c9c9);

border: 1px solid #D3D3D3;

box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);

-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);

-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);

text-shadow: 0.5px 0.5px 1px #fff;

text-align:center;

border-radius:9px;

cursor:pointer;

}

#mcover{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}

#mcover img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}



#userinfo {

	float:left;

	width:90%;

	height:110px;

	margin:auto 5%;

}

#usertit {

	float:left;

	width:100%;

	font-size:16px;

	color:#000;

}

.userlable {

	float:left;

	width:10%;

	margin:8px 5px;;

	height:20px;

	line-height:20px;

	font-size:16px;

}

.userinput {

	float:left;

	width:81%;

	margin:3px 0px;

	height:30px;

	line-height:30px;

	font-size:16px;

	text-indent:5px;

}