 /*我的咨询、及所有子页面*/
.button-grouped a {
    width: 50%;
}

.button_selected {
    color: #FFF;
    background-color: #00F;
}

.button_toggle {
    color: #00F;
    background-color: #FFF;
}

#ulMyQuestionList li {
    height:70px;
}

#afui #ulMyQuestionList .af-badge {
    right:5px;
}

#ulMyQuestionList img {
    position:absolute; 
    top:10px; 
    left:10px; 
    width:50px;
    height:50px;
}
.ulMyQuestionList_Name {
    position:absolute; 
    top:10px;
    left:70px;
    width:150px;
    height:25px;
    font-size:16px;
    color:#000;
}

.ulMyQuestionList_Word {
    position:absolute; 
    top:40px;
    left:70px;
    right:10px;
    height:20px;
    color:#BBB;
    overflow:hidden;
}

.ulMyQuestionList_Time {
    position:absolute; 
    top:10px;
    right:10px;
    width:150px;
    text-align:right;
    height:35px;
}

.ulMyQuestionList_Image {
    Color:#81A1CE;
}

.ulMyQuestionList_Voice {
    Color:#11AE86;
}


#divDialog {
    background-color: #FFF;
    width: 100%;
}
    
.dialog_head {
    width:40px; 
    height:40px;
    margin-top: 6px;
}

    #divDialog p {
        border-radius: 5px;
        background-color: #e5e5ea;
        max-width: 50%;
        padding: 8px 10px;
        word-wrap: break-word;
		position:relative;
    }
	#divDialog p:before{
		content:" ";
		display:block;
		position:absolute;
		top:16px;
		width:10px;
		height:10px;
	}
	
        #divDialog p span {
            font-size: 20px;
        }

        #divDialog p img {
            width: 50px;
            height: 50px;
			display:block;
        }

    #divDialog .left {
        float: left;
		/*background-color:#6a4c9c;*/
		color:#fff;
		margin-left: 15px;
    }
	#divDialog .left:before{
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		/*background:#6a4c9c;*/
		left:-5px;
	}
    #divDialog .right {
        float: right;
		margin-right: 15px;
    }
    #divDialog .left .volume-high {
        display:inline-block;
        vertical-align:bottom; 
    }
    #divDialog .right .volume-high {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);   
        display:inline-block;
        vertical-align:bottom; 
    }

	#divDialog .right:before{
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		background:#e5e5ea;
		right:-5px;
	}


.panel_myquestion_detail_bottom {
    background-color: #f7f7f7;
    width: 100%;
}
.panel_myquestion_detail_bottom .icon{
	font-size:26px;
	color: #8e8e93;
}

.sendpic {
    position: absolute;
    z-index: 10;
    width:44px;
	height:100%;
	line-height:42px;
	text-align:center;
}

#divTalk {
    position: absolute;
    left: 44px;
    right: 44px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
}

    #afui.ios7 #divTalk a {
        width: 100%;
		color:#666;
		border:1px solid #c8c8c8;
		background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%);
		background: -o-linear-gradient(top,  #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top,  #ffffff 0%,#ececec 100%);
		background: linear-gradient(to bottom,  #ffffff 0%,#ececec 100%);

    }

.sendtext {
    position: absolute;
    right: 0;
    z-index: 10;
    font-size: 25px;
	width:44px;
	height:100%;
	line-height:36px;
	text-align:center;
}
.sendtext.mic2{line-height:44px;}

#divDialog .voice_duration {
    font-weight: normal;
    font-size: 12px;
}

#divDialog .voice_gif {
    width: 20px;
    height: 20px;
    display:inline;
}

#afui #iptSendText {
    margin: 8px 0;
	height:30px;
	line-height:30px;
	padding:0;
	color:#666;
	border:1px solid #c8c8c8;
	border-radius:4px;
}

#divSpeak {
    width: 100px;
    height: 120px;
    background-color: rgba(255,255,255,0.3);
    color: #EEE;
    text-align: center;
    padding:15px 0;
    display: none;
    position: absolute;
    z-index: 999;
    left: 50%;
	margin:-40px 0 0 -40px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #666;
}
#divSpeak span {
    color: #000;
}
#divSpeak .icon{
	font-size:34px;
}

/* afui的list下a 自带箭头 但是这里不需要箭头 */
#afui #ulMyQuestionList a:after {
    content: "";
}

#divImagePreviewContainer {
    background-color: #000;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    padding-top: 30px;
}

#divImagePreviewContainer img {
    width:100%;
}

#imgPreview {
    width: 100%;
}

#divSendQuestion {
    display:none;
    position:absolute;
    right:10px;
    top:0px;
}
#afui #divSendQuestion a {
    width:50px; 
    padding:5px;
}
