<header >
    <!--TODO handle the search function-->
    <a onclick="af.ui.toggleSideMenu()" class="menuButton" style="float: left;"></a>

    <h1><input oninput="searchPatientChange()" id="btnSearchTopic" type="search" placeholder="搜索">
    </h1>
    <a class="button icon icon-add" id="global_addButton"
       style="float:right;font-size: 20px;line-height: 20px;top: -2px;"
       onclick="MedicalHome.viewController.huiZhen.createMedicalRecordClick();"></a>
</header>

<ul class="list">
    <li class="divider">2015-01</li>
    <li>
            <img   src="image/sampleImg/discuss.jpg" style="float: left;height: 80px;"/>
            <div style="float: left">
                <div class="name topicTitle subTitle" style="float: left;vertical-align: top;padding-left: 10px;">赵迷英</div>
                <div class="itemContent subTitle" style="float: left;padding-left: 10px;"> 男</div>
                <div class="affiliation itemContent thirdTitle" style="padding-left: 10px;">钙化性上皮瘤</div>
            </div>
            <div style="clear: both;"></div>
    </li>
    <li>
        <div>
            <img  src="image/sampleImg/discuss.jpg" style="float: left;height: 80px;"/>
            <div style="float: left">
                <div class="name topicTitle subTitle" style="float: left;vertical-align: top;padding-left: 10px;">赵迷英</div>
                <div class="itemContent subTitle" style="float: left;padding-left: 10px;"> 男</div>
                <div class="affiliation itemContent thirdTitle" style="padding-left: 10px;">钙化性上皮瘤</div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </li>
    <li>
        <div>
            <img   src="image/sampleImg/discuss.jpg" style="float: left;height: 80px;"/>
            <div style="float: left">
                <div class="name topicTitle subTitle" style="float: left;vertical-align: top;padding-left: 10px;">赵迷英</div>
                <div class="itemContent subTitle" style="float: left;padding-left: 10px;"> 男</div>
                <div class="affiliation itemContent thirdTitle" style="padding-left: 10px;">钙化性上皮瘤</div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </li>
    <li class="divider">2014-12</li>
    <li>
    <div>
        <img   src="image/sampleImg/discuss.jpg" style="float: left;height: 80px;"/>
        <div style="float: left">
            <div class="name topicTitle subTitle" style="float: left;vertical-align: top;padding-left: 10px;">赵迷英</div>
            <div class="itemContent subTitle" style="float: left;padding-left: 10px;"> 男</div>
            <div class="affiliation itemContent thirdTitle" style="padding-left: 10px;">钙化性上皮瘤</div>
        </div>
        <div style="clear: both;"></div>
    </div></li>
</ul>