    <h2 style="overflow: hidden;line-height: 24px;" id="topicDetails_title">北京协和医院李学旺教授讲座：健康从肾脏开始（一）</h2>
    <p id="topicDetails_content">
        脊柱病就是脊柱的骨质、椎间盘、韧带、肌肉发生病变，进而压迫、牵引刺激脊髓
    </p>
    <div  class="iconContainer thirdTitle ">
        <a class="icon icon-zan hbox contentIcon" >20</a>
        <a class="icon icon-shoucang hbox contentIcon" >20</a> 
        </div>
    <ul class="list">
        <li>
            <span class="subTitle">旺大夫</span>
            <span class="subTitle">25分钟前</span>
            <div class="thirdTitle">这种病后期并发症很多</div>
        </li>
        <li>
            <span class="subTitle">旺大夫</span>
            <span class="subTitle">25分钟前</span>
            <div class="thirdTitle">这种病后期并发症很多</div>
        </li>
        <li>
            <span class="subTitle">旺大夫</span>
            <span class="subTitle">25分钟前</span>
            <div class="thirdTitle">这种病后期并发症很多</div>
        </li>

    </ul>