<header>
    <a  onclick="af.ui.toggleSideMenu()" class="menuButton" style="float: left;"></a>
    <h1 >会诊
    </h1>
    <!--<a class="button icon icon-add" id="mingYiHui_createTopicButton" style="float:right;font-size: 20px;line-height: 20px;top: -2px;"-->
       <!--onclick="MedicalHome.viewController.yiMai.renderPlusActionSheet();"></a>-->
</header>
<ul class="list">


    <!--<li class="divider">日程安排</li>-->
    <!--<li>-->
        <!--<a >周三  下午 1点 东诊所 出诊</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a >周三  下午 1点 东诊所 出诊</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a >周三  下午 1点 东诊所 出诊</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a >我的影响力</a>-->
    <!--</li>-->
    <!--<li class="divider">历史信息</li>-->
    <!--<li>-->
        <!--<a >张三 </a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a >李四</a>-->
    <!--</li>-->
</ul>